<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="/public/css/main.css">
  <script src="/public/js/index.js"></script>
</head>

<body>
  <div class="banner">
    <h2>banner</h2>
  </div>
  <div class="nav">
    <ul>
      <li>
        <a href="javascript:;">首页</a>
      </li>
      <li>
        <a href="javascript:;">HTML</a>
      </li>
      <li>
        <a href="javascript:;">CSS</a>
      </li>
      <li>
        <a href="javascript:;">JAVASCRIPT</a>
      </li>
    </ul>
  </div>
  <div class="bolg">
    <div class="cistern ">
      <div class="left article">
        <ul>
          <li>
            <div class="box">
              <h2>h2标签</h2>
              <div class="basic-inf">
                <div class="author">
                  作者:
                  <span>张先生</span>
                </div>
                <div class="time">
                  时间：
                  <span>xxx</span>
                </div>
                <div class="reading">
                  阅读量：
                  <span>
                    165465
                  </span>
                </div>
                <div class="discuss">
                  评论数：
                  <span>
                    10
                  </span>
                </div>
              </div>
              <div class="text">
                <p>asdfad</p>
              </div>
              <a class="btn">
                阅读全文
              </a>
            </div>
          </li>
        </ul>
      </div>
      <div class="right user-info">
        <div class="user">
          <h2>用户信息</h2>
          <p>xxx</p>
          <p>你好，你是管理员 <a href="javascript:;">点击管理</a></p>
          <span>退出</span>
        </div>
        <div class="login">
          <h2>登录</h2>
          <div class="box">
            <label for="">
              用户名：
              <input type="text">
            </label>
            <label for="">
              密码：
              <input type="text">
            </label>
            <div class="btn">
              登录
            </div>
            <p>还没注册，<a>马上注册？</a></p>
          </div>
        </div>
        <div class="register">
          <h2>注册</h2>
          <div class="box">
            <label for="">
              用户名：
              <input type="text">
            </label>
            <label for="">
              密码：
              <input type="text">
            </label>
            <label for="">
              确认密码：
              <input type="text">
            </label>
            <div class="btn">
              登录
            </div>
            <p>已有账号？<a>马上登录</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
